In [1]:
import pandas as pd
import numpy as np
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')

In [2]:
from sklearn.linear_model import LinearRegression

In [3]:
df = pd.read_csv("Downloads/gold_price.csv", parse_dates=True, index_col='Date')

In [4]:
df.head()

            USD (AM)  USD (PM)  GBP (AM)  GBP (PM)  EURO (AM)  EURO (PM)
Date
2001-01-02    272.80    271.10   183.026   181.617    288.677    287.334
2001-01-03    269.00    267.15   178.916   177.390    281.823    281.655
2001-01-04    268.75    267.10   178.869   178.352    282.538    282.049
2001-01-05    268.00    267.40   178.488   178.148    280.775    280.882
2001-01-08    268.60    268.30   178.769   178.664    282.410    282.481

In [5]:
df['Return'] = df['USD (PM)'].pct_change() * 100

In [6]:
df['Lagged_Return'] = df.Return.shift()

In [7]:
df = df.dropna()

In [8]:
df

,USD (AM),USD (PM),GBP (AM),GBP (PM),EURO (AM),EURO (PM),Return,Lagged_Return
Date,,,,,,,,
2001-01-04,268.75,267.10,178.869,178.352,282.538,282.049,-0.018716,-1.457027
2001-01-05,268.00,267.40,178.488,178.148,280.775,280.882,0.112317,-0.018716
2001-01-08,268.60,268.30,178.769,178.664,282.410,282.481,0.336574,0.112317
2001-01-09,267.75,267.00,179.855,179.195,284.507,283.590,-0.484532,0.336574
2001-01-10,266.70,266.30,178.777,178.665,283.573,283.298,-0.262172,-0.484532
...,...,...,...,...,...,...,...,...
2019-08-27,1531.85,1532.95,1250.910,1247.510,1378.970,1380.880,1.938423,0.116507
2019-08-28,1541.75,1537.15,1263.310,1258.770,1389.890,1387.430,0.273982,1.938423
2019-08-29,1536.65,1540.20,1260.510,1262.960,1387.290,1392.030,0.198419,0.273982
2019-08-30,1526.55,1528.40,1253.140,1251.150,1382.750,1383.510,-0.766134,0.198419
2019-09-02,1523.35,1525.95,1260.420,1265.010,1388.690,1391.510,-0.160298,-0.766134

In [9]:
train = df['2001':'2018']

In [10]:
test = df['2019']

In [11]:
X_train = train["Lagged_Return"].to_frame()

In [12]:
y_train = train["Return"]

In [13]:
X_test = test["Lagged_Return"].to_frame()

In [14]:
y_test = test["Return"]